.wrap{
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	margin-bottom: 50px;
}
.cont{
	margin-bottom: 15px;
	overflow: hidden;
}
.cont img{
	float: left;
}
.cont ul li{
	float: left;
	margin-top: 4px;
	height: 34px;
	border: 1px solid #ccc;
	border-left: none;
	width: 111px;
	text-align: center;
	line-height: 34px;
	cursor: pointer;
}
.cont ul li.last{
	border-right: 1px solid #ccc;
	width: 114px;
}
.cont ul li.active{
	height: 38px;
	line-height: 38px;
	margin: 0;
	border-left: 1px solid #ccc;
	border-top: 2px solid #c00;
	border-bottom:none;
}
.cont form{
	float: left;
	width: 338px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-top: none;
	padding-top: 30px;
}
form dl.up{
	overflow: hidden;
}
form dl.up dt{
	float: left;
	text-align: right;
	width: 80px;
	line-height: 28px;
	height: 60px;
}
form dl.up dd{
	height: 30px;
	line-height: 28px;
}
form dl.up dd input{
	height: 26px;
	border:1px solid #ccc;
	width: 230px;
}
form dl.yan dd input{
	width: 60px;
	float: left;
}
form dl.yan dd p{
	float: left;
}
form dl.yan i{
	margin:2px 5px 0 ;
	width: 50px;
	text-align: center;
	font-style: normal;
	font-size: 14px;
	display: block;
	float: left;
	border: 1px solid #000;
	line-height: 22px;
	height: 22px;
}
form p.check{
	text-align: center;
}
form p.check a{
	color: #333;
	text-decoration: underline;
}
#btn{
	width: 103px;
	background: url(../image/bg3.jpg);
	border-radius: 5px;
	height: 32px;
	border: none;
	font-size: 16px;
	line-height: 32px;
	color: #fff;
	letter-spacing: 3px;
	margin-right: 10px;
	font-weight: bold;
}
form p.reg{
	text-align: center;
	border-top: 1px solid #f1f1f1;
	margin: 20px 10px 0 10px;
	padding-top: 15px;
	line-height: 28px;
}
form p.reg input{
	height: 26px;
	padding: 0;
	width: 94px;
}
form dl.contact{
	margin: 15px 18px 10px;
	overflow: hidden;
}
form dl.contact dt{
	background: #efefef;
	height: 33px;
	line-height: 33px;
	padding-left: 10px;
}
form dl.contact dd{
	line-height: 29px;
	height: 29px;
	float: left;
	border-bottom: 1px solid #efefef;
	border-left: 1px solid #efefef;
	width: 88px;
	padding-left: 10px;
}
form dl.contact dd a{
	color: #333;
}
form dl.contact dd{
	border-right: 1px solid #efefef;
}
.footer{
	text-align: center;
}
.footer a{
	color: #000;
}
.bot{
	position: absolute;
	left: -810px;
	bottom: 0;
}
.bot dl{
	border-top: 1px solid #e8e8e8;
}
.bot dl dt{
	float: left;
	border-right: 1px solid #e8e8e8;
}
.bot dl dd{
	float: left;
	line-height: 64px;
	color: #666;
	margin: 0 1px;
}
.close{
	cursor: pointer;
	position: absolute;
	top: -7px;
	bottom: -7px;
	border-radius: 50%;
}